body {
  margin: 0;
  padding: 0;
}

.time {
  width: 40px;
  font-weight: bold;
}

.timeslot {
  display: flex;
  justify-content: space-between;
}

.roomsAvailable {
  flex-grow: 2;
}

.breadcrumb {
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.breadcrumb .breadcrumb-item {
	float: none;
	display: inline-block;
}